<header class="masthead text-center text-white">
    <h1>Listado de Concursos</h1>
    <table class="table table-hover table-bordered" >
        <thead class="thead-light">
            <tr>
            <th>Nombre</th>
            <th>URL</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Valor a pagar</th>
            <th colspan=3>Acciones </th>
            </tr>
        </thead>
        <%= link_to 'Agregar concurso', new_concurso_path %>
        
        <% @concursos.each do |concurso| %>
            <tr>
              <td><%= concurso.nombre %></td>
              <td><%= concurso.url %></td>
              <td><%= concurso.fechainicio %></td>
              <td><%= concurso.fechafin %></td> 
              <td><%= concurso.valorpagar %></td>
              <td><%= link_to 'Mostrar', concurso_path(concurso) %></td>
              <td><%= link_to 'Editar', edit_concurso_path(concurso) %></td>
              <td><%= link_to 'Eliminar', concurso_path(concurso),
                              method: :delete,
                              data: { confirm: 'Esta seguro de eliminar este concurso?' } %></td>
            </tr>
        <% end %>
    </table>
    <%= will_paginate @concursos, renderer: BootstrapPagination::Rails %>
    <nav aria-label="..." class="">
        <ul class="pagination pagination-lg justify-content-center">
        
            <li class="page-item disabled">
               <a class="page-link" href="#!" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#!">1</a></li>
            <!--li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li -->
            <li class="page-item disabled">
              <a class="page-link" href="#!">Next</a>
            </li>
        </ul>
  </nav>
</header>