<header class="masthead text-center text-white">
    <h1 class='text-center'><%= @concurso.nombre %></h1>
    <div class="col-sm">
        <%= image_tag @concurso.image_url, class:"" %>
    </div>
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>URL: <%= @concurso.url %> </strong> </span>
    </div>
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>Fecha Inicio: <%= @concurso.fechainicio %> </strong> </span>
    </div>
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>Fecha fin: <%= @concurso.fechafin %> </strong> </span>
    </div>
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>Valor a pagar: <%= @concurso.valorpagar %> </strong> </span>
    </div>
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>Texto del concurso: <%= @concurso.texto %> </strong> </span>
    </div>  
    <div class="row">
        <span class= "col-sm col-form-label">  <strong>Recomendaciones: <%= @concurso.recomendaciones %> </strong> </span>
    </div>
    </div>
    <%= link_to 'Participa', new_concurso_voce_path(@concurso), :class => 'btn btn-primary btn-xl rounded-pill mt-5' %>
    
        <h2>Voces Participantes</h2>
        <table class="table table-hover table-bordered" >
          <thead class="thead-light"> 
          <tr>
            <th>Email</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha carga</th>
            <th>Estado Voz</th>
            <th>Archivo Original</th>
            <th>Archivo Convertido</th>
          </tr>
          </thead>
    
          <% #@concurso.voces.paginate(page:params[:page],per_page:5).each do |voces| %>
            <% @concurso.voces.each do |voces| %>
              <tr>
                <td><%= voces.email %></td>
                <td><%= voces.nombres %></td>
                <td><%= voces.apellidos %></td>
                <td><%= voces.fechacarga %></td>
                <td><%= voces.estadovoz %></td>
                <td><%= audio_tag voces.archivooriginal_url, controls: true, autoplay: false %></td>
                <td><%= audio_tag voces.archivoconvertido, controls: true, autoplay: false %></td>
              </tr>
          <% end %>
        </table>
    
            <%= link_to 'Volver', concursos_path %>
            <nav aria-label="..." class="">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item disabled">
                   <a class="page-link" href="#!" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                <!--li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li -->
                <li class="page-item disabled">
                  <a class="page-link" href="#!">Next</a>
                </li>
            </ul>
      </nav>            
</header>