<div class = "container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <%= link_to 'Super Voices', home_index_url, :class => 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>      
                <li class="nav-item">
                    <%= link_to 'Mis Concursos', concursos_path, :class => 'navbar-link' %> |
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.email %></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
                    </div>
                </li>        
            <% else %>
                <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
                </li>   
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                </li>            
            <% end %>
            </ul>
        </div>
    </nav>
</div>
